.requesterTask {

    .button {
        background: #564E58;
        width: 100px;
        margin: 0 auto;
        padding: 0.4em;
        margin-top: 5em;
        border-radius: 5em;
    }

    label {
        margin-right: 1em;
    }

    .title {
        background: #564E58;
        margin-bottom: 2em;
        margin-top: 2em;
        padding: 10px;
        
        h1 {
            text-align: center;
        }
    }
    
    .selectTask {

        .checkBoxes {
            display: flex;
            align-items: baseline;
    
            div {
                flex: 1;
            }
        }
    }

    .taskDesc {
        display: flex;

        div {
            flex: 1;
        }
    }
    
}